<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="10"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Number</title>
</head>
<body>
    <h1>Računalniki: {{ p_pc }} / {{ all_pc }}</h1>
    <h1>Table: {{ p_table }} / {{ all_table }}</h1>
    <h1>Skupaj: {{ p_all }} / {{ all_naprave }}</h1>
    <h1>Power: {{ power }}</h1>
</body>
</html>